@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html{
    height: 100%;
}

*{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    padding-top: 4rem;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    margin: 0;

   
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: rgb(9, 38, 53)
}
.logo{
    font-size: 2em;
    color: white;
    user-select: none ;
}

.navigation a{
    position: relative;
    font-size: 1.5em;
    color: rgb(255, 252, 252);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    bottom: -6px;
    left: 0;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
   transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: white;
    color: rgb(9, 38, 53);
}

.wrapper{
     position: relative;
     width: 400px;
     height: 440px;
     background: transparent;
     border-top-width: 10px ;
     border: 2px solid rgb(63, 62, 62);
     border-radius: 20px; 
     backdrop-filter: blur(20px);
     box-shadow: 0 0 30px rgba(0, 0, 0, -5);
     display: flex;
     justify-content: center;
     align-items: center;
      overflow: hidden; 
      transform: scale(0);
      transition: transform .5s ease,  height .2s ease ;

}

.wrapper.active-popup{
    
    transform: scale(1);
}

.wrapper.active {
    height: 520px;

}
.wrapper .form-box{
    width: 100% ;
    padding: 50px;

}

.wrapper .form-box.login{
  transition: transform .18s ease ;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.Register{
    position: absolute;
    transform: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.Register{
    transition: transform .18s ease ;
  transform: translateX(0);
}


.wrapper .icon-close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

}
.form-box h2{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color:black
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom : 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px ;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57pex;
}

.remeber-forget{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

remeber-forget label input{
    accent-color: #162938;
    margin-right: 3px;

}
remeber-forget a {
    color:#162938;
    text-decoration: none;
}

remeber-forget a:hover{
    text-decoration: underline;
}
.btn{
    width:100%;
    height: 45px;
    background: #3c5a70;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;

}
.login-register{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 10px;
}
login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
 }
login-register p a:hover{
    text-decoration: underline;
}

footer{
    background-color: rgb(9, 38, 53);
    width: 100%;
   right: 0;
   bottom: 0;
   left: 0;
   color: white;
   text-align: center;
   padding: 10px;
   position: absolute;
}
.footer-links a {
color: white ;
padding: 10px;
}